@{
    ViewBag.Title = "About Temiloluwa Olubakinde";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>About me: College Senior, Ohio University. Majors: Accounting and Management Information Systems.</p>
