@{
    ViewBag.Title = "Contact Temi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Virtual Contact Way<br />
    Athens, OH 45701<br />
    mo323917@ohio.edu <br />
    <abbr title="Phone">P:</abbr>
    785.256.3695
</address>

<address>
    <strong>Temiloluwa Olubakinde:</strong>   <a href="mailto:mo323917@ohio.edu">Contact Me</a><br />
</address>